@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

:root {
  --f-size: 32px;
  --f-family: "League Spartan", sans-serif;
}

.theme-1 {
  /* backgrounds */

  --main-background: hsl(222, 26%, 31%);
  --toggle-background-keypad-background: hsl(223, 31%, 20%);
  --screen-background: hsl(224, 36%, 15%);

  /* keys */

  --_key-background-hover: hsl(0, 0%, 100%);
  --_key-background-hover-btn: opacity: 1.5;
  --key-shadow-alt-btn: hsl(221, 31%, 42%);

  --_key-background: hsl(225, 21%, 49%);
  --key-shadow: hsl(30, 25%, 89%);
  --equal-key-background: hsl(6, 63%, 50%);
  --equal-key-shadow: hsl(6, 70%, 34%);
  --key-background: hsl(30, 25%, 89%);

  /* texts */
  --white-upper-clr: hsl(0, 0%, 100%);
  --result-clr: hsl(0, 0%, 100%);
  --Very-dark-grayish-text: hsl(221, 14%, 31%);
  --White: hsl(0, 0%, 100%);


}

.theme-2 {
  /* backgrounds */

  --main-background: hsl(0, 0%, 90%);
  --toggle-background-keypad-background: hsl(0, 5%, 81%);
  --screen-background: hsl(0, 0%, 93%);

  /* keys */

  --key-shadow-alt-btn: hsl(185, 58%, 25%);
  --_key-background: hsl(185, 42%, 37%);
  --key-shadow: hsl(185, 58%, 25%);
  --equal-key-background: hsl(25, 98%, 40%);
  --equal-key-shadow: hsl(25, 99%, 27%);
  --key-background: hsl(45, 7%, 89%);
  --key-shadow: hsl(35, 11%, 61%);

  /* texts */

  --white-upper-clr: hsl(60, 10%, 19%);
  --result-clr: hsl(60, 10%, 19%);
  --Very-dark-grayish-text: hsl(60, 10%, 19%);
  --White: hsl(0, 0%, 100%);
}

.theme-3 {
  /* backgrounds */

  --main-background: hsl(268, 75%, 9%);
  --toggle-background-keypad-background: hsl(268, 71%, 12%);
  --screen-background: hsl(268, 71%, 12%);

  /* keys */
  --_key-background-hover: hsl(285, 91%, 52%);

  --key-shadow-alt-btn: hsl(290, 70%, 36%);
  
  --_key-background: hsl(281, 89%, 26%);
  --key-shadow: hsl(285, 91%, 52%);
  --equal-key-background: hsla(176, 100%, 44%, 0.805);
  --equal-key-shadow: hsl(177, 92%, 70%);
  --key-background: hsl(268, 47%, 21%);

  /* texts */

  --white-upper-clr: hsl(52, 100%, 62%);
  --Very-dark-grayish-text: hsl(52, 100%, 62%);
  --result-clr: hsl(52, 100%, 62%);
  --Very-dark-black-blue: hsl(198, 20%, 13%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--f-family);
  font-size: var(--f-size);
  background-color: var(--main-background);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: var(--White);
  transition: all 300ms ease-in;
}

.calc-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.modal-box {
  position: absolute;
  height: auto;
  padding-block: 0.2rem;
  display: none;
  width: 300px;
  left: 50%;
  top: 50%;
  border-radius: 0.7rem;
  background-color: #f8fafc;
  border: 2px solid #60a5fa;
  transform: translate(-50%, -50%);
}

.modal-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.464);
  width: 100%;
  height: 100%;
  display: none;
  backdrop-filter: blur(2px);

  & span {
    font-size: 1rem;
    font-weight: 200;
    text-wrap: nowrap;
    bottom: 0;
    position: absolute;
    width: auto;
    padding: 2rem;
    left: 50%;
    transform: translate(-50%, -120%);
  }
}

.radio-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 350px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-inputs > * {
  margin: 6px;
}

.radio-input:checked + .radio-tile {
  border-color: #2260ff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #2260ff;
}

.radio-input:checked + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
  background-color: #2260ff;
  border-color: #2260ff;
}

.radio-input:checked + .radio-tile .radio-icon svg {
  fill: #2260ff;
}

.radio-input:checked + .radio-tile .radio-label {
  color: #2260ff;
}

.radio-input:focus + .radio-tile {
  border-color: #2260ff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}

.radio-input:focus + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
}

.radio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  min-height: 80px;
  border-radius: 0.5rem;
  width: 280px;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}

.radio-tile:before {
  content: "";
  position: absolute;
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  border-radius: 50%;
  top: 0.25rem;
  left: 0.25rem;
  opacity: 0;
  transform: scale(0);
  transition: 0.25s ease;
}

.radio-tile:hover {
  border-color: #2260ff;
}

.radio-tile:hover:before {
  transform: scale(1);
  opacity: 1;
}

.radio-icon svg {
  width: 2rem;
  height: 2rem;
  fill: #494949;
}

.radio-label {
  color: #707070;
  transition: 0.375s ease;
  text-align: center;
  font-size: 13px;
}

.radio-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.calc-upper-part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--white-upper-clr);
  transition: all 300ms ease-in;

  .brand-name {
    font-weight: bold;
  }

  .toggle-colors p {
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-size: .75rem;
  }
}

.toggle-colors {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
}

.calc-main-part {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .display-screen {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 350px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-block: 1.5rem;
    padding-right: 1rem;
    border-radius: 0.7rem;
    color: var(--result-clr);
    font-weight: bold;
    background-color: var(--screen-background);
    flex-shrink: 0;
    height: 5rem;
    transition: all 300ms ease-in;
  }
  
  input {
  width: 100%;
  height: 100%;
  padding-block: 2rem;
  border: none;
  background: none;
  outline: none;
  text-align: right;
  font-size: 2.5rem;
  color: var(--result-clr);
  font-weight: bold;
  font-family: var(--f-family);
  transition: all 300ms ease-in;
}
  .keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.8rem;
    padding: 1.5rem;
    border-radius: 0.7rem;
    background-color: var(--toggle-background-keypad-background);
    transition: all 300ms ease-in-out;

    button  {
      border: none;
      outline: none;
      font-weight: bolder;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, var(--key-shadow) 0px 4px 1px;
      padding: 1.4rem 1rem 1.4rem 1rem;
      font-family: var(--f-family);
      font-size: 2rem;
      border-radius: 0.5rem;
      background-color: var(--key-background);
      color: var(--Very-dark-grayish-text);
      cursor: pointer;
      transition: all 300ms ease-in;
    }

     .num-key:hover {
        background-color: var(--_key-background-hover);
      }

    .reset-button {
      background-color: var(--_key-background);
      font-size: 1.2rem;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, var(--key-shadow-alt-btn) 0px 4px 1px;
      color: var(--White);
      grid-column: 1 / 3;
    }

    .delete-button {
      background-color: var(--_key-background);
      font-size: 1.2rem;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, var(--key-shadow-alt-btn) 0px 4px 1px;
      color: var(--White);
    }

    .result-button {
      background-color: var(--equal-key-background);
      color: var(--White);
      font-size: 1.2rem;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, var(--equal-key-shadow) 0px 4px 1px;
      grid-column: 3 / 5;
    }
  }
}

.switch {
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: linear-gradient(42deg, #b700ff, #ff00aa);
    background-size: 400% 400%;

  -webkit-animation: gradientAnimation 8s ease infinite;
  -moz-animation: gradientAnimation 8s ease infinite;
  animation: gradientAnimation 8s ease infinite;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.363);
  border-radius: 5px;
  cursor: pointer;
}

@-webkit-keyframes gradientAnimation {
    0%{background-position:86% 0%}
    50%{background-position:15% 100%}
    100%{background-position:86% 0%}
}
@-moz-keyframes gradientAnimation {
    0%{background-position:86% 0%}
    50%{background-position:15% 100%}
    100%{background-position:86% 0%}
}
@keyframes gradientAnimation {
    0%{background-position:86% 0%}
    50%{background-position:15% 100%}
    100%{background-position:86% 0%}
}

.switch div {
  width: 80%;
  height: 80%;
  margin: 10%;
  position: absolute;
}

.switch i {
  color: var(--White);
}

@media screen and (max-width: 320px) {
  .calc-main-part {

      .display-screen {
        max-width: 300px;
      }

        .keys {
            gap: 0.8rem;
            button {
                padding: 1rem 0.5rem 1rem 0.5rem;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .calc-main-part {

      .display-screen {
        max-width: 500px;
      }

        .keys {
            gap: 1.3rem;
            button {
                padding: 1rem 2rem 1rem 2rem;
            }
        }
    }
}
