@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

:root {
  --f-size: 32px;
  --f-family: "League Spartan", sans-serif;
}

.theme-1 {
  /* backgrounds */

  --main-background: hsl(222, 26%, 31%);
  --toggle-background-keypad-background: hsl(223, 31%, 20%);
  --screen-background: hsl(224, 36%, 15%);

  /* keys */

  --_key-background-hover: hsl(0, 0%, 100%);
  --_key-background-hover-btn: opacity: 1.5;
  --key-shadow-alt-btn: hsl(221, 31%, 42%);

  --_key-background: hsl(225, 21%, 49%);
  --key-shadow: hsl(30, 25%, 89%);
  --equal-key-background: hsl(6, 63%, 50%);
  --equal-key-shadow: hsl(6, 70%, 34%);
  --key-background: hsl(30, 25%, 89%);

  /* texts */
  --white-upper-clr: hsl(0, 0%, 100%);
  --result-clr: hsl(0, 0%, 100%);
  --Very-dark-grayish-text: hsl(221, 14%, 31%);
  --White: hsl(0, 0%, 100%);
}

.theme-2 {
  /* backgrounds */

  --main-background: hsl(0, 0%, 90%);
  --toggle-background-keypad-background: hsl(0, 5%, 81%);
  --screen-background: hsl(0, 0%, 93%);

  /* keys */

  --key-shadow-alt-btn: hsl(185, 58%, 25%);
  --_key-background: hsl(185, 42%, 37%);
  --key-shadow: hsl(185, 58%, 25%);
  --equal-key-background: hsl(25, 98%, 40%);
  --equal-key-shadow: hsl(25, 99%, 27%);
  --key-background: hsl(45, 7%, 89%);
  --key-shadow: hsl(35, 11%, 61%);

  /* texts */

  --white-upper-clr: hsl(60, 10%, 19%);
  --result-clr: hsl(60, 10%, 19%);
  --Very-dark-grayish-text: hsl(60, 10%, 19%);
  --White: hsl(0, 0%, 100%);
}

.theme-3 {
  /* backgrounds */

  --main-background: hsl(268, 75%, 9%);
  --toggle-background-keypad-background: hsl(268, 71%, 12%);
  --screen-background: hsl(268, 71%, 12%);

  /* keys */
  --_key-background-hover: hsl(285, 91%, 52%);

  --key-shadow-alt-btn: hsl(290, 70%, 36%);
  
  --_key-background: hsl(281, 89%, 26%);
  --key-shadow: hsl(285, 91%, 52%);
  --equal-key-background: hsl(176, 100%, 44%);
  --equal-key-shadow: hsl(177, 92%, 70%);
  --key-background: hsl(268, 47%, 21%);
  --key-shadow: hsl(290, 70%, 36%);

  /* texts */

  --white-upper-clr: hsl(52, 100%, 62%);
  --Very-dark-grayish-text: hsl(52, 100%, 62%);
  --result-clr: hsl(52, 100%, 62%);
  --Very-dark-black-blue: hsl(198, 20%, 13%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--f-family);
  font-size: var(--f-size);
  background-color: var(--main-background);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: var(--White);
}

.calc-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.calc-upper-part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--white-upper-clr);

  .brand-name {
    font-weight: bold;
  }

  .toggle-colors p {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
  }
}

.calc-main-part {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .display-screen {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1.5rem;
    border-radius: 0.7rem;
    color: var(--result-clr);
    font-weight: bold;
    background-color: var(--screen-background);
    flex-shrink: 0;
    height: 5rem;
  }

  .keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.8rem;
    padding: 1.5rem;
    border-radius: 0.7rem;
    background-color: var(--toggle-background-keypad-background);

    button  {
      border: none;
      outline: none;
      font-weight: bolder;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, var(--key-shadow) 0px 4px 1px;
      padding: 1.4rem 1rem 1.4rem 1rem;
      font-family: var(--f-family);
      font-size: 2rem;
      border-radius: 0.5rem;
      background-color: var(--key-background);
      color: var(--Very-dark-grayish-text);
      cursor: pointer;
      transition: all 200ms ease-in-out;
    }

     .num-key:hover {
        background-color: var(--_key-background-hover);
      }

    .reset-button {
      background-color: var(--_key-background);
      font-size: 1.2rem;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, var(--key-shadow-alt-btn) 0px 4px 1px;
      color: var(--White);
      grid-column: 1 / 3;
    }

    .delete-button {
      background-color: var(--_key-background);
      font-size: 1.2rem;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, var(--key-shadow-alt-btn) 0px 4px 1px;
      color: var(--White);
    }

    .result-button {
      background-color: var(--equal-key-background);
      color: var(--White);
      font-size: 1.2rem;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, var(--equal-key-shadow) 0px 4px 1px;
      grid-column: 3 / 5;
    }
  }
}

@media screen and (min-width: 768px) {
    .calc-main-part {
        .keys {
            gap: 1.3rem;
            button {
                padding: 1rem 2rem 1rem 2rem;
            }
        }
    }
}
